body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: #6297a0;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #6297a0;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggle {
    background-color: #FFEAE6;
}

.section-title {
    font-family: "Pacifico", cursive;

}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #6297a0;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #6297a0;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #6297a0;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a{
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 320px;
    }
}